@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  background: linear-gradient(65deg, #004476 10%, #006fbe 90%);
}

.noise {
  position: relative;
  overflow: hidden;
}

.noise::before,
.noise::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.noise::before {
  background:
    repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/3000px
      3000px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 40% 40%/3000px
      3000px;
  background-blend-mode: difference;
  opacity: 0.1;
}

.noise::after {
  background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 100% / 80%) 0%,
    hsl(300deg 100% 100%) 8%,
    hsl(300deg 100% 100%) 17%,
    hsl(300deg 100% 100%) 25%,
    hsl(300deg 100% 100%) 33%,
    hsl(300deg 100% 100%) 42%,
    hsl(300deg 100% 100%) 50%,
    hsl(300deg 100% 100%) 58%,
    hsl(300deg 100% 100%) 67%,
    hsl(300deg 100% 100%) 75%,
    hsl(300deg 100% 100%) 83%,
    hsl(300deg 100% 100%) 92%,
    hsl(0deg 0% 100% / 20%) 100%
  );
  mix-blend-mode: normal;
  opacity: 0.2;
}

@layer base {
  /* @font-face {
    font-family: "bristone";
    src: url("/fonts/bristone-reg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "telugu-mn";
    src: url("/fonts/TeluguMN-01.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */

  /* Test Sans Wide - Book */
  /* @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-book-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  } */

  /* Test Sans Wide - Light */
  /* @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-extra-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-light-italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  } */

  /* Test Sans Wide - Regular/Medium */
  /* @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  } */

  /* Test Sans Wide - Half Bold */
  /* @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-half-bold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-half-bold-italic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  } */

  /* Test Sans Wide - Bold */
  /* @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-bold-kursiv.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  } */

  /* Test Sans Wide - Three Quarter Bold */
  /* @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-three-quarter-bold.woff2") format("woff2");
    font-weight: 750;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-three-quarter-bold-italic.woff2") format("woff2");
    font-weight: 750;
    font-style: italic;
    font-display: swap;
  } */

  /* Test Sans Wide - Extra Bold */
  /* @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-extra-bold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-extra-bold-italic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  } */

  /* Test Sans Wide - Strong */
  /* @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-strong.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "test-sans-wide";
    src: url("/fonts/test-sans-wide-strong-italic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  } */

  :root {
    --background: 39 27% 93%;
    --foreground: 20 14.3% 4.1%;
    --card: 39 27% 93%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 39 27% 93%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 20 14.3% 4.1%;
    --primary-foreground: 39 27% 93%;
    --secondary: 39 27% 83%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 39 27% 83%;
    --muted-foreground: 20 14.3% 24.1%;
    --accent: 39 27% 83%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 39 27% 93%;
    --border: 20 14.3% 4.1%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 60 9.1% 77.8%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 60 9.1% 97.8%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
